@use 'core/reset';
@use 'components/header';
@use 'components/list';

body {
  background-image: url("/src/images/background.jpg"); 
  background-size: cover;
  background-position: center;
  font-family: 'Comic Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
} 