.lista {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    margin-inline: 15rem;
    
}

.frase-personaje-container {
  background-color: #fffaa5; 
  border: 1px solid #e3e3e3;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  padding: 1rem;
  width: 15rem;
  height: auto;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 8px;
  position: relative;
}

//efecto posit
.frase-personaje-container::before {
content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%) rotate(-2deg);
  width: 80px; 
  height: 25px; 
  background: rgb(4, 202, 176); 
  border-radius: 2px;

}

.frase-personaje-container:hover {
  transform: scale(1.05) rotate(-3deg);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  transition: all 0.3s ease-in-out;
}